/*navbar*/
.navbar {
	padding-top: 20px;
}
#navHome {
	margin: 7px;
}
#navLogin {
	margin: 7px;
}
#navContact {
	margin: 7px;
}

/*donations page*/
#receiveJumbotron{
	background: url(https://images.unsplash.com/photo-1441123285228-1448e608f3d5?auto=format&fit=crop&w=1950&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);
	background-size: cover;
    background-position: center; 
    height: 500px;
    padding-top: 80px;
}

h1{
	font-size: 55px;
	color: white;
	text-align: center;
}
h2{
	font-size: 40px;
	color: white;
	text-align: center;
}

#column1{
	border-right: 1px solid #DDD;
	margin-right: 15px;
	margin-left: 15px;
}

#column2{
	border-right: 1px solid #DDD;
	margin-right: 15px;
}
#column3{
	margin-left: 15px;
}

.container{
	padding-top: 20px;
}
.btn:hover {
    background-color: #4CAF50; /* Green */
    color: white;
    cursor: pointer;
}
#searchButton{
	margin-left: 10px;
}
#reserveButton{
	margin-left: 20px;
}
#removeButton {
	margin-left: 20px;
}
#checkbox {
	margin-right: 3px;
	margin-top: 15px;
}

#searchInput {
	width: 300px;
}
#donationAvailable {
	width: 400px;
}

#pick-up {
	width: 400px;
}

/*sign up page*/
#signupPic{
	height: 310px;
	width: 250px;
	float: left;
	margin-top: 30px;
	margin-left: -4px;
	padding-right: 10px;
}
.card-body{
	margin-left: -25px;
}

#signUp {
	padding: 30px;
}

#signupCard{
	width: 450px;
}

.signupInput{
	width: 400px;
}

/*.col-md-5-border{
  border:thin black solid;
  margin:20px;
  padding:20px;
}*/

#signupButton{
	margin-top: 15px;
}

/*donate page*/

#donateSubmitButton{
	margin-top: 15px;
}
#donatePic {

}

.styled-select {
   background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
   height: 40px;
   overflow: hidden;
   width: 240px;
   text-align: center;
}

.styled-select select {
   background: transparent;
   border: none;
   font-size: 20px;
   height: 40px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 268px;
}


.semi-square {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}

.blue    { background-color: #3b8ec2; }

.blue select    { color: #000; }