{{> header }}
      <main role="main">

        <!-- Top image -->
    <div class container>
        <div class="page-header1">
            <img src="/client/public/assets/img/soup1.jpg" class="img-responsive">

        </div>
    </div>

    <!-- Main Content Area -->

    <div id="learn-more" class="container">

        <div class="row">
            <div class="col-sm-12 features section-description wow fadeIn">
                <h2>About The Program</h2>
                <div class="divider-1">
                    <div class="line"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 features-box wow fadeInLeft">
                <div class="row">

                    <div class="col-sm-9">
                        <h3>How to Donate</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Ut wisi enim ad minim veniam, quis nostrud.
                        </p>
                        <Button class="btn btn-success" href="/register">Register to Donate</button>


                    </div>

                </div>
            </div>
            <div class="col-sm-6 features-box wow fadeInLeft">
                <div class="row">

                    <div class="col-sm-9">
                        <h3>Become a Receiver</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Ut wisi enim ad minim veniam, quis nostrud.
                        </p>
                        <Button class="btn btn-success" href="/register">Register as a Receiver</button>
                    </div>
                </div>
            </div>


        </div>



    </div>


    <!--begin code for sign in modal  -->
    <div class="modal fade" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
                    <h5 class="modal-title">Sign In</h5>
                </div>

                <div class="modal-body">
                    <!-- The form is placed inside the body of modal -->
                    <form id="signinForm" method="POST" action="/login" class="form-horizontal">
                        <div class="form-group">
                            <label class="col-xs-3 control-label">email:</label>
                            <div class="col-xs-5">
                                <input type="email" class="form-control" id="email-input" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-xs-3 control-label">Password:</label>
                            <div class="col-xs-5">
                                <input type="password" class="form-control" id="password-input" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-5 col-xs-offset-3">
                                <button id="signup-btn" type="submit" class="btn btn-primary">Sign In</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--End  sign in modal  -->

      </main>

      <footer class="footer">
        <p>&copy; Company 2017</p>
      </footer>

    </div> <!-- /container -->
  </body>
</html>
