<!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">FEED IT FORWARD</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav ml-auto">
                    <li class="active"><a href="#" id="navHome">Home</a></li>
                    <li><a href="#login" id="navLogin">Login</a></li>
                    <li><a href="#contact" id="navContact">Contact Us</a></li>
                </ul>
            </div>
    </nav>
    <!-- signup -->
    <div class="container" id="signUp">
        <div class="form-row" >
            <div class="col-md-5">
                <div id="signupCard">
                    <h3>How Can I Help?</h3>
                    <hr>
                    <img class="card-img-top" 
                    src="https://images.unsplash.com/photo-1505576399279-565b52d4ac71?auto=format&fit=crop&w=1868&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D"
                    alt="Food image">
                    <div class="card-body">  
                        <p>Restaurants and grocery stores are lacking resources to help them use up their excess food.  Food that is left over from a regular business day is typically thrown away resulting in millions of dollars of food being wasted.</p>
                        <p>According to the US Dept of Agriculture, in 2010 restaurants, stores and homes threw away 133 billion pounds of food.  Food waste fills up 20% of all landfills.</p>
                        <h5>There has to be a better way to use the food that is left over.</h5>
                        <p>What if there was a resource where businesses could come together to help eliminate food waste through donations to organizations in need?</p>  
                        <h5>This is where Feed it Forward can help!</h5>
                        <p>Sign up to help reduce food waste and help those in need.</p>
                    </div>
                </div>
            </div>
            <!-- empty column -->
            <div class="col-md-1"> </div>
            <!-- signup column -->
            <div class="col-md-5">
                <div id="signupCard">
                    <h3>Sign Up</h3>
                    <hr>
                    <div class="card-body">
                        <label for="organization">Organization Name</label>
                        <br>
                        <input class="signupInput" name="name" type="text">
                        <br>
                        <label for="contact">Contact Name</label>
                        <br>
                        <input class="signupInput" name="name" type="text">
                        <br>
                        <label for="phone">Phone Number</label>
                        <br>
                        <input class="signupInput" name="phonenumber" type="text">
                        <br>
                        <label for="email">Email address</label>
                        <br>
                        <input class="signupInput" name="email" type="text">
                        <br>
                        <label for="password">Password</label>
                        <br>
                        <input class="signupInput" name="password" type="text">
                        <br>
                        <label for="address">Address</label>
                        <br>
                        <input class="signupInput" name="address" type="text">
                        <br>
                        <label for="city">City</label>
                        <br>
                        <input class="signupInput" name="city" type="text">
                        <br>
                        <label for="state">State</label>
                        <br>
                        <input class="signupInput" name="state" type="text">
                        <br>
                        <label for="zip">Zip Code</label>
                        <br>
                        <input class="signupInput" name="zip" type="text">
                        <br>
                        <br>
                        <button class="btn btn-dark btn-md" type="submit">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>