/*navbar*/
.navbar {
	padding-top: 20px;
}
#navHome {
	margin: 7px;
}
#navLogin {
	margin: 7px;
}
#navContact {
	margin: 7px;
}

/*receiver page*/
#receiveJumbotron{
	background: url(https://images.unsplash.com/photo-1441123285228-1448e608f3d5?auto=format&fit=crop&w=1950&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);
	background-size: cover;
    background-position: center; 
    height: 500px;
    padding-top: 80px;
}

h1{
	font-size: 55px;
	color: white;
	text-align: center;
}
h2{
	font-size: 40px;
	color: white;
	text-align: center;
}

.container{
	padding-top: 20px;
}
.btn:hover {
    background-color: #4CAF50; /* Green */
    color: white;
    cursor: pointer;
}
#checkbox {
	margin-right: 3px;
	margin-top: 10px;
}

#searchInput {
	width: 300px;
}
#donationAvailable {
	width: 400px;
}

#pick-up {
	width: 400px;
}

/*sign up page*/
.card-img-top{
	height: 310px;
	width: 250px;
	float: left;
	margin-top: 30px;
	margin-left: -4px;
	padding-right: 10px;
}
.card-body{
	margin-left: -25px;
}

#signUp {
	padding: 30px;
}

#signupCard{
	width: 450px;
}

.signupInput{
	width: 400px;
}

.col-md-5-border{
  border:thin black solid;
  margin:20px;
  padding:20px;
}






